* {
  box-sizing: border-box;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  border: 5px solid blue;
}
.header {
  border: 2px solid red;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
}
.footer {
  border: 2px solid green;
  height: 100px;
}
.main {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 160px);
}
.user {
  max-width: 200px;
  overflow: auto;
  border: 2px solid blueviolet;
}
.chat {
  overflow: auto;
  border: 2px solid darkblue;
}
